
{% load i18n %}

<p>
  {% blocktrans %}
    <b>xmppwebid certificate generator</b> is an 
    <a href="http://djangoproject.com/">Django</a> app intended to generate
    valid certificates for HTPP and XMPP
    <a href="http://www.w3.org/2005/Incubator/webid/spec/"> WebID</a>
    authentication.  
  {% endblocktrans %}
</p>
<p>
  {% blocktrans %}
    It creates Jabber account and 
    generates the certificate that is installed in the user browser and can 
    be installed in a Jabber client.
  {% endblocktrans %}
</p>

<p>
    {% blocktrans %}
    For more information about this module and enabled Jabber 
    servers and clients, see:
    <a href="http://xmppwebid.github.com/xmppwebid">xmppwebid</a> project site.
    {% endblocktrans %}
</p>

    
