/* SITE-SPECIFIC TAB STYLING */


/* selected tabs */
#home_tab .tab_home,
#bookmarks_tab .rtab_xmpp_identity,
{
/*    bottom: -1px !important;*/
/*    padding-bottom: 0 !important;*/
    background: transparent;
}
#home_tab .tab_home a,
#bookmarks_tab .rtab_xmpp_identity a,
{
/*    color: #000 !important; */
    /* selected tab text colour */
    font-weight: bold;
    background: transparent;
}
#home_tab .tab_home div,
#bookmarks_tab .rtab_xmpp_identity div,
{
/*    margin: 0;*/
/*    background-color: #DEF !important; */
    /* selected tab colour */
/*    border-left: 1px solid #000 !important; */
    /* tab border */
/*    border-top: 1px solid #000 !important; */
    /* tab border */
/*    border-right: 1px solid #000 !important; */
    /* tab border */
/*    padding-bottom: 5px; */
    /* 1px more than unselected padding-bottom */
/*    padding-bottom: 8px; */
    background: transparent;
}
