
{% load i18n %}

<p>
  {% blocktrans %}
    <b>xmppwebid certificate generator</b> is an 
    <a href="http://djangoproject.com/">Django</a> app intended to generate
    valid certificates for HTPP and XMPP
    <a href="http://www.w3.org/2005/Incubator/webid/spec/"> WebID</a>
    authentication.  
  {% endblocktrans %}
</p>
<p>
  {% blocktrans %} 
    It creates XMPP account and 
    generates the certificate that is installed in your browser and can also
    be installed in a XMPP client.
  {% endblocktrans %}
</p>

<p>
  {% blocktrans %} 
    To use your certificate in XMPP (Jabber )you would need a client that 
    supports
    certificates (currently <a href="http://gajim.org/">Gajim</a> v0.14) and a 
    Jabber server software that supports 
    <a href="http://xmpp.org/extensions/xep-0178.html">SASL EXTERNAL</a> 
    authentication 
    (<a href="http://codex.xiaoka.com/wiki/jabberd2:start">Jabberd</a>).
  {% endblocktrans %}
</p>

<p>
    {% blocktrans %}
    For more information about this module and enabled Jabber 
    servers and clients, see the
    <a href="http://xmppwebid.github.com/xmppwebid">xmppwebid</a> project site.
    {% endblocktrans %}
</p>

    
