{% extends "xmppwebid_provider/base.html" %}

{% load i18n %}

{% load uni_form_tags %}

{% csrf_token %}

{% block head_title %}{% blocktrans %}XMPP and HTTP WebID Client Certificate{% endblocktrans %}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block body %}

{% if messages %}
    <ul id="messages">
        {% for message in messages %}
        <li id="message_{{ forloop.counter }}">{{message}}</li>
        {% endfor %}
    </ul>
{% endif %}

<div class="left_panel">

    <h1>{% trans "XMPP and HTTP WebID Certificate Generator" %}</h1>

    {% include "xmppwebid_provider/intro.html" %}
    
    <div class="form-toggle">{% csrf_token %}
        <form class="uniForm" method="POST" action="">
            <fieldset class="inlineLabels">
                {{ form|as_uni_form }}
                <div class="form_block">
                    <input type="hidden" name="action" value="Download in PKCS#12 format" />
                    <input type="submit" value="{% trans "Download in PKCS#12 format" %}" name="PKCS12""/>
                </div>
            </fieldset>
        </form>
    </div>

</div>

{% endblock %}

{% block extra_body %}
{% endblock %}

